<!DOCTYPE html>
<html>
<head>
    <title>Mapa</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="mapa-container">
        <object id="mapa-svg" data="/images/Regions_of_Brazil.svg" type="image/svg+xml"></object>
    </div>

    <%- include('partials/footer') %>
    <script src="/js/map.js"></script>
</body>
</html>
