<!DOCTYPE html>
<html>
<head>
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="sobre-container">
        <img src="/images/sua-foto.jpg" alt="Sobre nós">
        <p>Seu parágrafo sobre a empresa/projeto aqui...</p>
    </div>

    <%- include('partials/footer') %>
</body>
</html>

