<footer>
    <div class="footer-content">
        <div class="tecnologias">
            <h4>Tecnologias Utilizadas</h4>
            <ul>
                <li>Node.js</li>
                <li>Express</li>
                <li>EJS</li>
                <li>CSS3</li>
                <li>JavaScript</li>
            </ul>
        </div>
        <div class="copyright">
            <p>&copy; 2024 - Todos os direitos reservados</p>
        </div>
    </div>
</footer>

