<header>
    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre Nós</a></li>
            <li><a href="/recomendacoes">Recomendações</a></li>
            <li><a href="/mapa">Mapa</a></li>
        </ul>
    </nav>
</header>

